<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.veadan.folib.mapper.ArtifactCacheRecordMapper">

    <resultMap id="artifactCacheRecordResultMap" type="com.veadan.folib.entity.ArtifactCacheRecord">
        <id property="id" column="id" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="storageId" column="storage_id" />
        <result property="repositoryId" column="repository_id" />
        <result property="artifactPath" column="artifact_path" />
        <result property="size" column="size" />
        <result property="md5" column="md5" />
        <result property="sha1" column="sha1" />
        <result property="sha256" column="sha256" />
        <result property="downloadCount" column="download_count" />
        <result property="latestDownloadTime" column="latest_download_time" />
        <result property="cacheDirectoryPath" column="cache_directory_path" />
        <result property="cachePath" column="cache_path" />
    </resultMap>

    <delete id="batchDelete">
        delete from artifact_cache_record where id in
        <foreach collection="idList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>