<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.veadan.folib.mapper.BlockStrategyInfoMapper">

    <insert id="batchInsertBlockStrategyInfo">
        INSERT INTO `block_strategy_info` ( `id`, `block_strategy_id`, `package_name`, `license_id`, `create_by`, `create_time` )
        VALUES
        <foreach collection="blockStrategyInfoList" item="item" separator=",">
            (#{item.id}, #{item.blockStrategyId}, #{item.packageName}, #{item.licenseId}, #{item.createBy}, #{item.createTime})
        </foreach>
    </insert>

</mapper>