<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.veadan.folib.mapper.FederalRepositoryMapper">
    <resultMap type="com.veadan.folib.entity.FederalRepository" id="FederalRepositoryMap">
        <result property="id" column="id" />
        <result property="policyId" column="policy_id" />
        <result property="type" column="type" />
        <result property="storageId" column="storage_id" />
        <result property="repositoryId" column="repository_id" />
        <result property="nodeName" column="node_name" />
        <result property="nodeType" column="node_type" />
        <result property="createdTime" column="created_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>
    
    <!-- 通过ID查询单条数据 -->
    <select id="queryById" resultMap="FederalRepositoryMap">
        select
            id,policy_id,type,storage_id,repository_id,node_name,node_type,created_time,update_time
        from federal_repository
        where id = #{id}
    </select>
    
    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from federal_repository
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="policyId != null and policyId != ''">
                and policy_id = #{policyId}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="storageId != null and storageId != ''">
                and storage_id = #{storageId}
            </if>
            <if test="repositoryId != null and repositoryId != ''">
                and repository_id = #{repositoryId}
            </if>
            <if test="nodeName != null and nodeName != ''">
                and node_name = #{nodeName}
            </if>
            <if test="nodeType != null and nodeType != ''">
                and node_type = #{nodeType}
            </if>
            <if test="createdTime != null ">
                and created_time = #{createdTime}
            </if>
            <if test="updateTime != null ">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>
    
    <!--新增数据-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into federal_repository(id,policy_id,type,storage_id,repository_id,node_name,node_type,created_time,update_time)
        values (#{id},#{policyId},#{type},#{storageId},#{repositoryId},#{nodeName},#{nodeType},#{createdTime},#{updateTime})
    </insert>
    
    <!-- 批量新增数据 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into federal_repository(id,policy_id,type,storage_id,repository_id,node_name,node_type,created_time,update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id},#{entity.policyId},#{entity.type},#{entity.storageId},#{entity.repositoryId},#{entity.nodeName},#{entity.nodeType},#{entity.createdTime},#{entity.updateTime})
        </foreach>
    </insert>
    
    <!-- 批量新增或按主键更新数据 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into federal_repository(id,policy_id,type,storage_id,repository_id,node_name,node_type,created_time,update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id},#{entity.policyId},#{entity.type},#{entity.storageId},#{entity.repositoryId},#{entity.nodeName},#{entity.nodeType},#{entity.createdTime},#{entity.updateTime})
        </foreach>
        on duplicate key update
        id=values(id),
		policy_id=values(policy_id),
		type=values(type),
		storage_id=values(storage_id),
		repository_id=values(repository_id),
		node_name=values(node_name),
		node_type=values(node_type),
		created_time=values(created_time),
		update_time=values(update_time)
    </insert>
    
    <!-- 更新数据 -->
    <update id="update">
        update federal_repository
        <set>
            <if test="id != null and id != ''">
                id = #{id},
            </if>
            <if test="policyId != null and policyId != ''">
                policy_id = #{policyId},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="storageId != null and storageId != ''">
                storage_id = #{storageId},
            </if>
            <if test="repositoryId != null and repositoryId != ''">
                repository_id = #{repositoryId},
            </if>
            <if test="nodeName != null and nodeName != ''">
                node_name = #{nodeName},
            </if>
            <if test="nodeType != null and nodeType != ''">
                node_type = #{nodeType},
            </if>
            <if test="createdTime != null ">
                created_time = #{createdTime},
            </if>
            <if test="updateTime != null ">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
    
    <!--通过主键删除-->
    <delete id="deleteById">
        delete from federal_repository where id = #{id}
    </delete>
    <delete id="deleteByPolicyId">
        delete from federal_repository where policy_id = #{policyId}
    </delete>

    <select id="queryByPolicyId" resultMap="FederalRepositoryMap">
        select
            id,policy_id,type,storage_id,repository_id,node_name,node_type,created_time,update_time
        from federal_repository
        where policy_id = #{policyId}
    </select>
</mapper>