<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.veadan.folib.mapper.StorageMonitoringMapper">

    <insert id="batchInsertStorageMonitoring">
        INSERT INTO storage_monitoring
        (id, storage_id, storage_provider, repository_id, repository_type, repository_layout, repository_sub_layout, storage_path, artifacts_size, artifacts_count, files_size, files_count, used_files_size_percentage, folders_count, items_count, storage_quota_size, used_storage_quota_size_percentage, other_files_size, used_other_files_size_percentage, storage_count, repository_count, artifacts_downloaded_count, storage_device_name, storage_device_type, storage_device_size, storage_device_usable_size, used_storage_device_size, used_storage_device_size_percentage, data_type, is_latest, update_time)
        VALUES
        <foreach collection="storageMonitoringList" item="item" separator=",">
            (#{item.id}, #{item.storageId}, #{item.storageProvider}, #{item.repositoryId}, #{item.repositoryType}, #{item.repositoryLayout}, #{item.repositorySubLayout}, #{item.storagePath}, #{item.artifactsSize}, #{item.artifactsCount}, #{item.filesSize}, #{item.filesCount}, #{item.usedFilesSizePercentage}, #{item.foldersCount}, #{item.itemsCount}, #{item.storageQuotaSize}, #{item.usedStorageQuotaSizePercentage}, #{item.otherFilesSize}, #{item.usedOtherFilesSizePercentage}, #{item.storageCount}, #{item.repositoryCount}, #{item.artifactsDownloadedCount}, #{item.storageDeviceName}, #{item.storageDeviceType}, #{item.storageDeviceSize}, #{item.storageDeviceUsableSize}, #{item.usedStorageDeviceSize}, #{item.usedStorageDeviceSizePercentage}, #{item.dataType}, #{item.isLatest}, #{item.updateTime})
        </foreach>
    </insert>

</mapper>