<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.veadan.folib.mapper.RoleResourceRefMapper">
    <resultMap type="com.veadan.folib.entity.RoleResourceRef" id="RoleResourceRefMap">
        <result property="id" column="id"/>
        <result property="roleId" column="role_id"/>
        <result property="entityId" column="entity_id"/>
        <result property="refType" column="ref_type" />
        <result property="resourceId" column="resource_id"/>
        <result property="storageProvilege" column="storage_provilege"/>
        <result property="repositoryPrivilege" column="repository_privilege"/>
        <result property="pathPrivilege" column="path_privilege"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!-- 通过ID查询单条数据 -->
    <select id="queryById" resultMap="RoleResourceRefMap">
        select
            id,role_id,entity_id,ref_type,resource_id,storage_provilege,repository_privilege,path_privilege,create_by,create_time
        from role_resource_ref
        where id = #{id}
    </select>

    <!--分页查询指定行数据-->
    <select id="queryAllByLimit" resultMap="RoleResourceRefMap">
        select
        id,role_id,entity_id,ref_type,resource_id,storage_provilege,repository_privilege,path_privilege,create_by,create_time
        from role_resource_ref
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="roleId != null and roleId != ''">
                and role_id = #{roleId}
            </if>
            <if test="entityId != null and entityId != ''">
                and entity_id = #{entityId}
            </if>
            <if test="refType != null and refType != ''">
                and ref_type = #{refType}
            </if>
            <if test="resourceId != null and resourceId != ''">
                and resource_id = #{resourceId}
            </if>
            <if test="storageProvilege != null and storageProvilege != ''">
                and storage_provilege = #{storageProvilege}
            </if>
            <if test="repositoryPrivilege != null and repositoryPrivilege != ''">
                and repository_privilege = #{repositoryPrivilege}
            </if>
            <if test="pathPrivilege != null and pathPrivilege != ''">
                and path_privilege = #{pathPrivilege}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null and createTime != ''">
                and create_time = #{createTime}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from role_resource_ref
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="roleId != null and roleId != ''">
                and role_id = #{roleId}
            </if>
            <if test="entityId != null and entityId != ''">
                and entity_id = #{entityId}
            </if>
            <if test="refType != null and refType != ''">
                and ref_type = #{refType}
            </if>
            <if test="resourceId != null and resourceId != ''">
                and resource_id = #{resourceId}
            </if>
            <if test="storageProvilege != null and storageProvilege != ''">
                and storage_provilege = #{storageProvilege}
            </if>
            <if test="repositoryPrivilege != null and repositoryPrivilege != ''">
                and repository_privilege = #{repositoryPrivilege}
            </if>
            <if test="pathPrivilege != null and pathPrivilege != ''">
                and path_privilege = #{pathPrivilege}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null and createTime != ''">
                and create_time = #{createTime}
            </if>
        </where>
    </select>
    <select id="queryAllByRoleId" resultType="com.veadan.folib.entity.RoleResourceRef">
        select
        id,role_id,entity_id,ref_type,resource_id,storage_provilege,repository_privilege,path_privilege,create_by,create_time
        from role_resource_ref
        where role_id in
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>

    <!--新增数据-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into role_resource_ref(id,role_id,entity_id,ref_type,resource_id,storage_provilege,repository_privilege,path_privilege,create_by,create_time)
        values (#{id},#{roleId},#{entityId},#{refType},#{resourceId},#{storageProvilege},#{repositoryPrivilege},#{pathPrivilege},#{createBy},#{createTime})
    </insert>

    <!-- 批量新增数据 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into role_resource_ref(id,role_id,entity_id,ref_type,resource_id,storage_provilege,repository_privilege,path_privilege,create_by,create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id},#{entity.roleId},#{entity.entityId},#{entity.refType},#{entity.resourceId},#{entity.storageProvilege},#{entity.repositoryPrivilege},#{entity.pathPrivilege},#{entity.createBy},#{entity.createTime})
        </foreach>
    </insert>

    <!-- 批量新增或按主键更新数据 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into role_resource_ref(id,role_id,entity_id,ref_type,resource_id,storage_provilege,repository_privilege,path_privilege,create_by,create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id},#{entity.roleId},#{entity.entityId},#{entity.refType},#{entity.resourceId},#{entity.storageProvilege},#{entity.repositoryPrivilege},#{entity.pathPrivilege},#{entity.createBy},#{entity.createTime})
        </foreach>
        on duplicate key update
        id=values(id),
        role_id=values(role_id),
        entity_id=values(entity_id),
        ref_type=values(ref_type),
        resource_id=values(resource_id),
        storage_provilege=values(storage_provilege),
        repository_privilege=values(repository_privilege),
        path_privilege=values(path_privilege),
        create_by=values(create_by),
        create_time=values(create_time)
    </insert>

    <!-- 更新数据 -->
    <update id="update">
        update role_resource_ref
        <set>
            <if test="id != null and id != ''">
                id = #{id},
            </if>
            <if test="roleId != null and roleId != ''">
                role_id = #{roleId},
            </if>
            <if test="entityId != null and entityId != ''">
                entity_id = #{entityId},
            </if>
            <if test="refType != null and refType != ''">
                ref_type = #{refType},
            </if>
            <if test="resourceId != null and resourceId != ''">
                resource_id = #{resourceId},
            </if>
            <if test="storageProvilege != null and storageProvilege != ''">
                storage_provilege = #{storageProvilege},
            </if>
            <if test="repositoryPrivilege != null and repositoryPrivilege != ''">
                repository_privilege = #{repositoryPrivilege},
            </if>
            <if test="pathPrivilege != null and pathPrivilege != ''">
                path_privilege = #{pathPrivilege},
            </if>
            <if test="createBy != null and createBy != ''">
                create_by = #{createBy},
            </if>
            <if test="createTime != null and createTime != ''">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from role_resource_ref where id = #{id}
    </delete>
</mapper>