registry=https://public.folib.com/storages/public-project/npm
disturl=https://public.folib.com/storages/public-project/npm/-/binary/node
nvm_nodejs_org_mirror=https://public.folib.com/storages/public-project/npm/-/binary/node
nodejs_org_mirror=https://public.folib.com/storages/public-project/npm/-/binary/node
sass_binary_site=https://public.folib.com/storages/public-project/npm/-/binary/node-sass
electron_mirror=https://public.folib.com/storages/public-project/npm/-/binary/electron
sharp_dist_base_url=https://public.folib.com/storages/public-project/npm/-/binary/sharp-libvips
sentrycli_cdnurl=https://public.folib.com/storages/public-project/npm/-/binary/sentry-cli
sqlite3_binary_site=https://public.folib.com/storages/public-project/npm/-/binary/sqlite3
python_mirror=https://public.folib.com/storages/public-project/npm/-/binary/python
node_sqlite3_binary_host_mirror=https://public.folib.com/storages/public-project/npm/-/binary/sqlite3
better_sqlite3_binary_host_mirror=https://public.folib.com/storages/public-project/npm/-/binary/better-sqlite3
profiler_binary_host_mirror=https://public.folib.com/storages/public-project/npm/-/binary/node-inspector
node_inspector_cdnurl=https://public.folib.com/storages/public-project/npm/-/binary/node-inspector
selenium_cdnurl=https://public.folib.com/storages/public-project/npm/-/binary/selenium
chromedriver_cdnurl=https://public.folib.com/storages/public-project/npm/-/binary/chromedriver
operadriver_cdnurl=https://public.folib.com/storages/public-project/npm/-/binary/operadriver
fse_binary_host_mirror=https://public.folib.com/storages/public-project/npm/-/binary/fsevents
canvas_binary_host_mirror=https://public.folib.com/storages/public-project/npm/-/binary/canvas