/*  
    标题样式
*/

h2{
    border-bottom: none;
}

.content__default{
    h2{
        color: #0A6AFF;
        padding-bottom: 30px;
        padding-top: 20px;
        border-bottom-color: #F0F0F5;
        border-bottom: 1px solid #F0F0F5;
    }
} 

.content__default h3{
    font-size: 18px;
}