/*  
    顶部导航栏样式（默认布局，当前采用自定义布局）
*/
    .navbar{
        background-color: #F7F8FC;
        border-bottom: 1px solid #E4E6E8;
    }

    .theme-container .navbar .links{
        background-color: #F7F8FC !important;
    }

    .navbar .home-link{
        margin-left: 70px;
    }

    .theme-container .navbar .logo{
        height: 30px !important;
        min-width: 30px !important;
    }
    
    .theme-container .navbar .site-name{
        font-weight: 600;
        font-size: 18px;
    }