/*  
    
*/

.custom-block{
    border-radius: 8px;
}

.custom-block.tip{
    border-color: #1890ff
    color: #1890FF ;
    border: none;
    background: #F0F8FF;
}

/*
    .custom-block.tip::before { //让所有的块元素前面都加上一个加粗的TIP
        content: "TIP";
        font-weight: bold;
        display: inline-block;
        margin-right: 5px;
    }
*/


.theme-default-content code .token.inserted{
    color: #60bd90;
}

.custom-block.warning{
    border-color: #fa8c16;
    background: #FFF7E7;
    color: #E87F01;
    border: none;
}

.custom-block.error{
    border-color: #f5222d;
    border: none;
}