@import '../../../node_modules/@vuepress/theme-default/styles/index.styl'
@import './sidebar.styl'
@import './custom-block.styl'
@import './custom-navbar.styl'
@import './custom-table.styl'
@import './custom-header.styl'
@import './custom-img.styl'
@import './custom-content.styl'
// body {
//   background-image: url('/bg@2x.png');
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
// }
