//$accentColor = #6a69f2

$accentColor = #2b95fe

$contentWidth = 940px

div[class*="language-"]::before{
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 0;
    padding-left: 70px;
    display: inline-block;
    border-bottom: 1px solid rgba(0,0,0,0.66);
    padding-bottom: 10px;
}

.code-copy {
  position: absolute; /* 确保父容器可以定位 */
  top: 0px;
  right: 0px;
}

.line-numbers-mode{
    // margin-top: 30px;
    position: relative;
}

.line-numbers-mode .code-copy-added{
    padding-top: 38px;
}

.line-numbers-mode .line-numbers-wrapper{
    top: 18px !important;
    line-height: 1.45 !important;
}

.line-numbers-mode code{
    line-height: 1.45 !important;
}
