.sidebar {
    background-color: #fff;
}

.sidebar-links .sidebar-link {
    color: #333;
    margin-bottom:3px;
    font-weight:600;
    height:2.5rem;
    line-height:2.5rem;
    padding-top:0;
    padding-bottom:0;
}

.sidebar .sidebar-sub-headers a.sidebar-link{
    padding-top:0;
    padding-bottom:0;
    font-weight:500;
}

.sidebar-links{

  .sidebar-link {

    &:hover{
        color: #1890ff;
        background: #f0f4fa;
        border-radius:6px;
    }
  }

  .sidebar-sub-header .sidebar-link.active{
      color: #1890ff;
      background: #e2ecff;
      border-radius:4px;
      font-weight:600;
  }

  .sidebar-group .sidebar-heading{
      color:#393b3e;
  }
} 

.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
    opacity: 1 !important;
    height:2.5rem;
    line-height:2.5rem;
}

.sidebar-group.is-sub-group > .sidebar-heading.open:not(.clickable) {
    font-weight:600;
} 

.sidebar-group {
  .arrow.down{
      border-top:6px solid #333 !important;
  }
  .arrow.right{
      border-left: 6px solid #333 !important;
  }
}